<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema CarFord</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Sistema CarFord</h1>

<!-- VERIFICANDO QUEM ESTÁ NO BANCO DE DADOS PARA RELACIONAR COM O CADASTRO DOS CARROS-->
        <form class="ui form" action="/addcarro" method="POST">
            <div class="field">
            <label>Cliente</label>
            <select name="pessoa_id" >
            {% for c in carro %}
                <option value="{{ c.proprietario }}">{{ c.proprietario }}</option>
            {% endfor %}
            </select>
            </div>
<!-- ADICIONANDO OS CARROS-->
            <div class="ui form">
              <div class="three fields">
                <div class="field">
                  <label>Carro</label>
                  <input type="text" name="carro" placeholder="Inserir Carro">
                </div>
                <div class="field">
                  <label>Modelo</label>
                    <select name="modelo" class="ui dropdown">
                        <option></option>
                        <option value="hatch">Hatch</option>
                        <option value="sedan">Sedan</option>
                        <option value="conversivel">Conversível</option>
                    </select>
                </div>
                <div class="field">
                  <label>Cor</label>
                    <select name="cor" class="ui dropdown">
                        <option></option>
                        <option value="Azul">Azul</option>
                        <option value="Amarelo">Amarelo</option>
                        <option value="Cinza">Cinza</option>
                    </select>
                </div>
              </div>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>
    </div>
</body>
</html>