<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema CarFord</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Sistema CarFord</h1>


<!-- EDITANDO PESSOAS-->

        <form class="ui form" action="/update/{{ pessoa.id }}" method="POST">
            <div class="field">
                <label>Cliente</label>
                <input type="text" name="nome" placeholder="Editar Cliente" value="{{ pessoa.nome }}"><br>

            </div>
            <div class="field">
                <label>CPF</label>
                <input type="text" name="cpf" placeholder="Editar CPF" value="{{ pessoa.cpf }}"><br>
            </div>
            <div class="field">
                <label>Endereço</label>
                <input type="text" name="endereco" placeholder="Editar Endereço" value="{{ pessoa.endereco }}"><br>
            </div>
            <div class="field">
                <label>Carro</label>
                <input type="text" name="carro" placeholder="Editar Carro" value="{{ pessoa.carro }}"><br>
            </div>
            <div class="field">
                <label>Modelo</label>
                <select  name="modelo" class="ui dropdown" value="{{ pessoa.modelo }}">
                    <option></option>
                    <option value="hatch">Hatch</option>
                    <option value="sedan">Sedan</option>
                    <option value="conversivel">Conversível</option>
                </select>
            </div>
            <div class="field">
                <label>Cor</label>
                <select name="cor" class="ui dropdown" value="{{ pessoa.cor }}">
                    <option></option>
                    <option value="Azul">Azul</option>
                    <option value="Amarelo">Amarelo</option>
                    <option value="Cinza">Cinza</option>
                </select>
              </div>
            <button class="ui blue button" type="submit">Alterar</button>
        </form>
        <hr>

    </div>
</body>

</html>